* {
    box-sizing: border-box;
}

body {
    background: url(../../img/textured-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}