.card {
    background-color: white;
    margin: 30px 20px;
    text-align: center;
}

.card-text-text-secondary {
    font-size: 15px;
    text-align: left;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.300);
}

.card-body {
    padding: 20px;
}

.card-text {
    font-family: Arial;
    font-size: 12px;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.8s ease;
}

.card-img-top:hover {
    transform: scale(1.3);
}