.name {
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-family: Arial;
    font-weight: normal;
    color: #333;
}

@media (max-width: 500px) {
    .name {
        font-size: 25px;
    }
}