h3 {
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    font-family: Arial;
    font-weight: normal;
    color: gray;
}

@media (max-width: 500px) {
    h3 {
        font-size: 25px;
    }
}