.name {
    font-size: 30px;
    padding-top: 10px;
}

.titles {
    font-size: 20px;
}

.name, .titles {
    text-align: left;
    padding-left: 20px;
    font-family: Arial;
    font-weight: normal;
    color: #333;
}

@media (max-width: 500px) {
    .name, .titles {
        font-size: 25px;
    }
}